{%extends 'generalPageStyled.html'%} 
{%block mainBlock%} 

<h2> Change Details about Employee</h2>
<form id='myForm' onsubmit="return modifyEmployees()">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"> <br>
  
  <input type="radio" id="fullTime" name="ftpt" value="fullTime">
  <label for="fullTime"> Full Time</label>
  <input type="radio" id="partTime" name="ftpt" value="partTime">
  <label for="partTime"> Part Time</label>
  
  <input type="radio" id=".75" name="ftpt" value=".75">
  <label for=".75"> .75 Time</label><br>

  <label for="bu">Business Unit</label><br>
  <input type="text" id="bu" name="bu"><br>
 
  <label for="city">City </label><br>
  <input type="text" id="city" name="city"><br>
  
  <label for="state">State</label><br>
  <input type="text" id="state" name="state"><br>
 
  <label for="cmt">Carrer Matrix Title </label><br>
  <input type="text" id="cmt" name="cmt"><br>
 
  <label for="totalYears">Total Years </label><br>
  <input type="text" id="totalYears" name="totalYears"><br>
  
  <label for="Licenses">Registered Licenses</label><br>
  <input type="text" id="Licenses" name="Licenses"><br>
  
  <label for="Skill">Skill</label><br>
  <input type="text" id="Skill" name="Skill"><br>
 
  <label for="skilllevel">Skill level</label><br>
  <input type="text" id="skilllevel" name="skilllevel"><br>
  
  <button type = "submit">Submit</button>
</form>

<script> 

function modifyEmployees() 
{ 
    var firstName = document.forms["myForm"]["fname"].value;
    var lastName = document.forms["myForm"]["lname"].value; 
    var ftpt = document.forms["myForm"]["ftpt"].value; 
    var businessunit = document.forms["myForm"]["bu"].value; 
    var city = document.forms["myForm"]["city"].value;
    var state = document.forms["myForm"]["state"].value; 
    var careerMatrixTitle = document.forms["myForm"]["cmt"].value; 
    var totalYears = document.forms["myForm"]["totalYears"].value; 
    var registeredLicenses = document.forms["myForm"]["Licenses"].value; 
    var skill = document.forms["myForm"]["Skill"].value; 
    var skillLevel = document.forms["myForm"]["skilllevel"].value; 

    params = 'firstName='+firstName+'&lastName='+lastName+'&FT/PT/.75='+ftpt+'&bu='+businessunit+'&city='+city+'&state='+state+
    '&cmt='+careerMatrixTitle+'&totalYears='+totalYears+'&registeredLicenses='+registeredLicenses+'&skill='+skill+'&skillLevel='
    +skillLevel; 

    //console.log(params);

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Employee/Modify', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
}





</script> 





{%endblock%}
